# ==============================================================================
# PROYECTO GRADO CAMPO DIRECTO - VARIABLES DE ENTORNO
# ==============================================================================
# Renombra este archivo a ".env" antes de ponerlo en tu servidor en la nube.
# NO PONGAS `.env` en github, ¡las contraseñas se filtrarán!
# ==============================================================================

# -----------------
# 1. SEGURIDAD
# -----------------
# Genera una llave secreta larga aquí. Puede ser cualquier cadena de 50 caracteres aleatoria.
SECRET_KEY=clave-secreta-larga-y-aleatoria-a-tu-eleccion

# Colócalo en False para el servidor original
DEBUG=False

# La dirección donde estará alojada tu página. (Ej: mipagina.pythonanywhere.com o * si te da problemas)
ALLOWED_HOSTS=*

# Redireccionamiento HTTPS (SSL). Cambiar a True en producción con certificado SSL.
SECURE_SSL_REDIRECT=False

# -----------------
# 2. BASE DE DATOS
# -----------------
# Estas variables las da el tu hosting (EJ: configuración de Bases de Datos en tu panel de PythonAnywhere)
PROD_DB_HOST=tu_usuario.mysql.pythonanywhere-services.com
PROD_DB_NAME=tu_usuario$campo_directo
PROD_DB_USER=tu_usuario
PROD_DB_PASSWORD=tu_contrasena_de_bd
PROD_DB_PORT=3306

# -----------------
# 3. CORREO (Notificaciones de Pedidos)
# -----------------
# Recomendamos Gmail con contraseña de aplicación.
# Guía: https://support.google.com/accounts/answer/185833
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=tucorreo@gmail.com
EMAIL_HOST_PASSWORD=la_clave_de_aplicacion_de_16_digitos
DEFAULT_FROM_EMAIL=Campo Directo <tucorreo@gmail.com>
